*{
    background-color: blueviolet;
}
.body1{
    margin:10em 10em 10em 10em;
  }
.form{
    border: 7px solid blue;
    padding: 90px;
    text-align: center;
}
.form .email{
      width: 320px;
      height: 55px;
      margin-bottom: 30px;
      outline: none;
      border: none;
      background: rgba(0, 0, 0, 0.2);
      color: #fff;
      font-size: 18px;
      text-align: center;
      border-radius: 5px;
      transition: 0.5s;
      transition-property: border-left, border-right, box-shadow;
}
.form .email:hover{
      border-left: solid 8px #0062ff;
      border-right: solid 8px #0062ff;
      box-shadow: 0 0 100px rgba(0, 98, 255, 0.8);
}  
.form .password{
      width: 320px;
      height: 55px;
      margin-bottom: 30px;
      outline: none;
      border: none;
      background: rgba(0, 0, 0, 0.2);
      color: #fff;
      font-size: 18px;
      text-align: center;
      border-radius: 5px;
      transition: 0.5s;
      transition-property: border-left, border-right, box-shadow;
}
.form .password:hover{
      border-left: solid 8px #0062ff;
      border-right: solid 8px #0062ff;
      box-shadow: 0 0 100px rgba(0, 98, 255, 0.8);
}
.btn{
      width: 320px;
      margin-top: 30px;
      height: 55px;
      background: #0062ff;
      color: #fff;
      font-size: 18px;
      letter-spacing: 1px;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.5s;
      transition-property: border-left, border-right, box-shadow;
}
.btn:hover{
      border-left: solid 8px rgba(0, 0, 0, 0.5);
      border-right: solid 8px rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 100px rgba(0, 98, 255, 0.8);
}